SOUNDCLOUD_CLIENT_ID=your_client_id
SOUNDCLOUD_CLIENT_SECRET=your_client_secret
SOUNDCLOUD_REDIRECT_URI=http://localhost:3000/auth/callback
SC_PROXY_URL=

TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
ADMIN_TOKEN=

DATABASE_HOST=localhost
DATABASE_PORT=5432
DATABASE_USERNAME=soundcloud
DATABASE_PASSWORD=soundcloud
DATABASE_NAME=soundcloud_desktop

PORT=3000
